<!DOCTYPE HTML>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" />

    <title>LUTZ</title>

    <script src="js/jquery-3.3.1.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/form_update_noticia.css" rel="stylesheet">
  </head>

  <body>
    <header>

      <div class="cabecalho">

        <div class="menu-icon">
          <a href="#" id="btn">
            <div id="linha-1"></div>
            <div id="linha-2"></div>
            <div id="linha-3"></div>
          </a>
        </div>

        <div class="logo">
          <img src="images/logo.png">
        </div> 

        <div class="login">
          <a href="login.ejs">
            <img src="images/login.png">
          </a>
        </div>  

      </div>

      <nav class ="hidden">
        <a href="#" id="close"> X </a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="noticias">Administrador</a></li>
          </ul>
      </nav>

    </header>

    <main>

		<div class="form_buscar">
			<form action="/busca" method="post">
			  <div class="buscar">
			    <input type="text" class="form_buscar_input" placeholder="O que deseja encontrar?" name="pesquisa"></input>
			    <button type="submit" class="form_buscar_btn" value="Buscar">
			      <img class="form_buscar_img" src="images/search.png">
			    </button>
			  </div>
			</form>
		</div>

		<div class="container"> 
			<% if (validacao.length > 0) { %>
				<div class="alert">
					<strong>Atenção!</strong>
					<ul>
						<% for (var i=0; i<validacao.length; i++) { %>
							<li> <%=validacao[i].msg%> </li>
						<% } %>
					</ul>
				</div>
			<% } %>
		
			<div class="form_update">
				<form action="/editar" method="post">
					<h1 class="form_h1">Edite sua notícia</h1>

					<div class="form_update_wrapper">
						<h1 class="form_update_h1">ID:</h1>
						<input type="text" class="form_update_input" readonly value="<%=noticia[0].id_noticia%>" id="id_noticia" name="id_noticia">
					</div>

					<div class="form_update_wrapper">
						<h1 class="form_update_h1">Título:</h1>
						<input type="text" class="form_update_input" value="<%=noticia[0].titulo%>" id="titulo" name="titulo">
					</div>

					<div class="form_update_wrapper">
						<h1 class="form_update_h1">Autor:</h1>
						<input type="text" class="form_update_input" value="<%=noticia[0].autor%>" id="autor" name="autor">
					</div>

					<div class="form_update_wrapper">
						<h1 class="form_update_h1">Data:</h1>
						<input type="date" class="form_update_input" value="<%=noticia[0].data_criacao%>" id="data_criacao" name="data_criacao">
					</div>

					<div class="form_update_wrapper">
						<h1 class="form_update_h1">Descrição:</h1>
						<textarea class="form_update_textarea" id="descricao" name="descricao"><%=noticia[0].descricao%></textarea>
					</div>

					<div class="form_update_wrapper">
						<h1 class="form_update_h1">Notícia:</h1>
						<textarea class="form_update_textarea" id="noticia" name="noticia"><%=noticia[0].noticia%></textarea>
					</div>

					<button type="submit" class="form_update_btn" id="update_btn">Editar</button>
				</form>
			</div>
		</div>

    </main>
    
    <script type="text/javascript" src="js/menu.js"></script>
  </body>
</html>