<!DOCTYPE html>
<html>
<head>
	<title>LUTZ</title>
</head>
<body>

<h1>LUTZ - Notícia</h1>
<table>
	<tr>
		<td>ID</td>
		<td>Título</td>
		<td>Descrição</td>
		<td>Notícia</td>
		<td>Frase destaque</td>
	</tr>

	<tr>
		<td><%=noticia[0].id_noticia %></td>
		<td><%=noticia[0].titulo %></td>
		<td><%=noticia[0].descricao %></td>
		<td><%=noticia[0].noticia %></td>
		<td><%=noticia[0].frase_destaque %></td>
	</tr>
</table>

</body>
</html>